{
  "trailingComma": "all",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "preserve",
  "printWidth": 120,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}